body {
    min-width: 320px;
    background: rgb(13, 71, 161);
    background: -webkit-linear-gradient(rgb(34, 69, 150) 0%, rgb(5, 167, 222) 100%);
    background: -moz-linear-gradient(rgb(34, 69, 150) 0%, rgb(5, 167, 222) 100%);
    background: -o-linear-gradient(rgb(34, 69, 150) 0%, rgb(5, 167, 222) 100%);
    background: linear-gradient(rgb(34, 69, 150) 0%, rgb(5, 167, 222) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d47a1', endColorstr='#2196f3', GradientType=0);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    position: relative;
    color: #fff;
}

hr {
    clear: both;
    margin: 0;
    height: 1px;
    background-color: #05a7de;
    border: none;
}

img {
    display: block;
    max-width: 100%;
    margin: auto;
}

.header {
    padding-top: 20px;
}

.header-link-wrapper {
    margin-bottom: 20px;
}

.header-list {
    margin: 0;
    padding: 0;
    float: right;
}

.header-list li {
    display: inline-block;
    margin-left: 20px;
    list-style-type: none;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.header-list li:first-child {
    margin-left: 0;
}

.header-list li a {
    color: #fff;
    transition: all 0.3s ease;
    text-decoration: none;
}

.header-list li a:hover,
.header-list li a:focus {
    color: #f6e618;
}

.header-list li a i {
    font-size: 32px;
    line-height: 40px;
    display: block;
}

.donate-btn {
    max-width: 330px;
    margin: auto;
    margin-top: 20px;
    background: #fff;
    color: #224596;
    line-height: 40px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.donate-btn:hover {
    background: #05a7de;
    color: #fff;
}

.phone-wrapper {
    margin-top: 25px;
}

.phone {
    max-height: 770px;
    margin: auto;
}

.icon-wrapper {
    display: inline-block;
    width: 40px;
    float: left;
}

.icon-text {
    display: inline-block;
    float: left;
    margin: 0;
    line-height: 40px;
    padding: 0 10px;
    font-size: 24px;
    font-weight: bold;
}

.info-wrapper {
    padding: 45px;
    height: auto;
}

.google-btn {
    margin: 45px 0 0 0;
    width: 200px;
}

.main-content p {
    margin: 0;
}

.main-content-link {
    color: #f6e618;
    text-decoration: none;
    transition: all 0.3s ease;
}

.main-content-link:hover,
.main-content-link:focus {
    color: #fff;
    text-decoration: underline;
}

.credits {
    font-size: 14px;
    position: relative;
    margin-top: 45px;
}

.modal-body {
    text-align: center;
}

#donate-modal {
    color: #000;
}

@media (min-width: 768px) {
    .header {
        padding: 20px 0;
    }
    .header-list {
        float: none;
    }
    .header-list li:first-child {
        margin-left: 20px;
    }
    .header-link-wrapper {
        margin-bottom: 0;
    }
    .phone {
        max-height: initial;
        margin: 0;
    }
    .info-wrapper {
        padding-top: 105px;
        height: calc(100vh - 81px);
    }
    .phone-wrapper {
        background: url("img/phone.png") 0px 60px no-repeat;
        background-size: 100%;
        height: calc(100vh - 81px);
        margin-top: 0;
    }
    .donate-btn {
        float: right;
        width: 140px;
        margin: auto;
    }
    .credits {
        position: absolute;
        bottom: 45px;
    }
}

@media (min-width: 1200px) {
    .header-list li {
        float: left;
        margin-left: 60px;
    }
    .header-list li:first-child {
        margin-left: 60px;
    }
}